@media only screen and (max-width: 1200px){
	.navbar img{
		width: 270px;
		margin-left: 30px;
	}
	.navbar-right{
		margin-right: 30px;
	}
	.col-md-offset-1-5{
		margin-left: 0;
	}


}

@media only screen and (max-width: 1062px){
		.navbar-right {
    margin: 0 auto;
    width: 100%;
    background: #fcfcfc;
	}
	.container-fluid > .navbar-collapse {
    margin-right: -35px;
    margin-left: -16px;
}
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 608px){
nav#menu span.fa.fa-bars {
left: 60px;
}
.header-text.btn {
height: auto;
white-space: inherit;
}
.hover-bg .hover-text {
padding: 15% 0;
}
}

@media only screen and (max-width: 460px){
	.whoAreBotsRow{
		padding: 0 5px;
	}
	.whoAreBots .col-md-3 img{
		width: 100%;
	margin-top: 20px;
    margin-bottom: 20px;}
	.whoAreBots .col-md-3 p{
		display: none;
	}
	.navbar img{
		width: 270px;
		margin-left: -20px;
		margin-top: 7px;
	}
	#contact .form-control{
		width:95%;
	}
	#contact .container{
		width:95%;
	}

h3 {
    font-size: 12px;
}
nav#menu span.fa.fa-bars {
left: 30px;
}
.content {
padding-top: 30%;
}
.hover-bg .hover-text {
padding: 20% 0;
}
#overview-video .overlay {
    padding: 30% 0px;
}
}
@media only screen and (max-width: 360px){
	.whoAreBots .col-md-3>.col-md-12{
		padding-left: 7px;
		padding-right: 7px;
	}
h1 {
    font-size: 36px;
}
	.navbar img{
		width: 230px;
	}
h3 {
    font-size: 11px;
}
hover-bg .hover-text {
    padding: 25% 0px;
}
.pull-left,
.pull-right {
    float: none !important;
    text-align: center;
}
}
@media only screen and (max-width: 320px){
h1 {
    font-size: 30px;
}
hover-bg .hover-text {
    padding: 30% 0px;
}
}
